@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Prompt&family=Quicksand:wght@400;700&family=Yusei+Magic&display=swap');






/* Reset default styles */
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "Prompt";
  background-color: #f2f2f2;
}



.language-request {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  label, input, select {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    background-color: #ff9a00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cancel-button {
    background-color: #ff5733;
  }
  
  .cancel-button:hover {
    background-color: #d89e00;
  }