@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Prompt&family=Quicksand:wght@400;700&family=Yusei+Magic&display=swap');




body{
  background-color: #f2f4f9;

}


 
  .saly {
    position: absolute;
    width: 743px;
    height: 700px;
    top: 150px;
    left: 0;
    object-fit: cover;
  }


  .speak-a-new-language {
    text-transform: uppercase;
    position: absolute;
    top: 350px;
    left: 750px;
    color:#6FBD57;
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  
  }
  


  .confidentStudents {
    position: absolute;
    top: 640px;
    left: 750px;
    font-family: "Quicksand", Helvetica;
    font-weight: 700;
    color: #212122;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .n5000{
    top: 550px;
    left: 780px;
    color: #9b45ae;
    position: absolute;
    font-family: "Prompt", Helvetica;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 56px;
    white-space: nowrap;
  }
  
   .n200{
    top: 550px;
    left: 1100px;
    color: #f0a1bf;
    position: absolute;
    font-family: "Prompt", Helvetica;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 56px;
    white-space: nowrap;
  }


  .nativeSpeakers {
    position: absolute;
    top: 640px;
    left: 1070px;
    font-family: "Quicksand", Helvetica;
    font-weight: 700;
    color: #212122;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }



.joinUsButton{
  position: absolute;
  top: 520px;
  left: 920px;
}
  




   .doodle-62 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 500px;
    left: 1300px;
    transform: rotate(22.06deg);
    object-fit: cover;
  }
  
   .doodle-2 {
    position: absolute;
    width: 169px;
    height: 142px;
    top: 200px;
    left: 278px;  
      transform: rotate(-116.52deg);


  }
  
 
  
   .doodle-3 {
    position: absolute;
    width: 20px;
    height: 25px;
    top: 180px;
    left: 700px;
    transform: rotate(-116.52deg);
   object-fit: cover;
  }
  
   .doodle-4 {
    position: absolute;
    width: 77px;
    height: 72px;
    top: 700px;
    left: 290px;
    transform: rotate(113.81deg);
  }
  
  
   .doodle-1 {
    position: absolute;
    width: 100px;
    height: 90px;
    top: 250px;
    left: 1100px;
    transform: rotate(23.9deg);
  }
  
   .doodle-6 {
    position: absolute;
    width: 30px;
    height: 47px;
    top: 200px;
    left: 200px;
    transform: rotate(200.9deg);
    object-fit: cover;
  }





  
  .footer {

    width: 100%;
    background-color:#212122;
    color: #f2f4f9;
    padding: 5px; 
    text-align: center;
    justify-content: center;
    position: absolute;
    top:100%;
  }
  