@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Prompt&family=Quicksand:wght@400;700&family=Yusei+Magic&display=swap');


  /* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h2{
  color: #121212;
  font-size: 26px;
align-items: center;
text-align: center;
font-family: "Prompt";

}

body {
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#d66f1b, #f2f4f9);
  margin: 0; /* Ensure no default margin */
  padding: 0; /* Ensure no default padding */
}

/* Main container styles */
.main-container {
  background: #f2f4f9;
  justify-content: center;
  border-radius: 15px;
  margin: 130px;
  margin-top: 150px;
  padding: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  overflow: auto;
  width: 700px;
  height: 500px;
}
/* 
header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #f2f4f9;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */ */


.profile-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  list-style: none;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
}

/* Team member styles */
.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  margin: 8px;
  transition: all .3s ease;
  cursor: pointer;
}

.team-member:hover {
  transform: scale(1.1);
}

.team-member img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
}

.team-member h4, .team-member p {
  text-align: center;
  font-size: 12px;
  margin: 7px;
}

/* Button styles */
button {
  background-color: #387454;
  border: none;
  color: white;
  border-radius: 50px;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
}
/* 
button {
  height: 40px;
  width: 100%;
  margin: 4px 0;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #387454;
  color: #f2f4f9;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background-color: #6FBD57;
}

Footer styles */