@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Prompt&family=Quicksand:wght@400;700&family=Yusei+Magic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

  
  body {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#d66f1b, #f2f4f9);
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
  }

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #F2F4F9;
  margin: auto;
  padding: 20px;
  overflow: auto;
  width: 1500px;
  max-height: 1000px;
  margin-top: auto;

}

h2 {
  text-align: center;
  margin: auto;
}

.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  margin: 8px;
  transition: all .3s ease;
  cursor: pointer;
}

.team-member:hover , .small-container:hover {
  transform: scale(1.1);
}

img {
  width: 50px;
  height: 50px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius:50%;
}

h5, p {
  text-align: center;
  margin: auto;
}

.checked {
  color: yellow;
}

.fa-star {
  font-size: 20px;
}

.small-container {
  background-color: #F2F4F9;
  border-radius: 15px;
  margin: 1rem;
  padding: 20px;
  width: 250px;
  height: 250px;
  align-items: center;
}


nav{
  margin: auto;
}