@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Prompt&family=Quicksand:wght@400;700&family=Yusei+Magic&display=swap');




h3{   
    margin-left: 10px;
    font-size: 26px;
    color: #387454;
  
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  body {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#d66f1b, #f2f4f9);
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
  }
  
  /*body {
    display: flex;
    flex-direction: column;
    font-family: "Prompt";
    background: linear-gradient(#d66f1b 0%, #F2F4F9 100%); 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  
  }*/
  /* 
  main {
    flex: 1;
  } */
  
  
  
  /* 
  header {
    background-color: #f2f4f9;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height:120px;
    width:100%;
  } */
  
  main{
    margin-top: auto;
  }
  
  
   h1 {
    text-align: center;
    margin-top: auto;
    font-size: 36px;
    color: #f2f4f9;
  }
  
  
  .features {
    display: flex;
    justify-content: center; /* Align boxes in the center */
    flex-wrap: wrap; /* Allow boxes to wrap to the next line */
    /* margin-top: 80px;
    margin-bottom: 120px; */
  }
  
  .features a {
    color: #387454;
    text-decoration: none;
  }
  
  .feature {
    text-align: center;
    flex-basis: calc(20.33% - 20px);
    background-color: #f2f4f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 20px;
    padding: 50px;
    margin-top: 140px;
    margin-bottom: 50px;
    justify-content: center;
  }
  
  .feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #387454;
  }
  
  .feature p {
    color: #387454;
  }
  
    
  h2 a:hover {
    color: #6FBD57;
  }
  
  
    