@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Prompt&family=Quicksand:wght@400;700&family=Yusei+Magic&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f4f9;
  margin: 0; /* Ensure no default margin */
  padding: 0; /* Ensure no default padding */
}


.skipping-girl-image {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 270px;
  left: 100px;
  object-fit: cover;
  
}



h3{
  
  position: absolute;
  top: 320px;
  left: 720px;
  color:#212122;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 35px;
  text-align: center;

}

form {
  background-color: #F2F4F9;
 /* padding: 100px;
  margin-top: 30%;
  margin-left: 40%;
  border-radius: 10px; */
position:absolute;
top: 470px;
left: 680px;
}




  button, button a:visited{
    height: 40px;
    width: auto;
    margin: 4px;
    cursor: pointer;
    line-height: 1;
    border-radius: 50px;
    transition-property: background-color;
    transition-duration: .3s;
   border: 1px solid transparent;
    letter-spacing: 2px;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    color: #f2f4f9;
    background-color: #387454;
    font-family: "Prompt";  
    font-weight:600;
    text-decoration:none;
  }




.button1 {
  background-color: #387454;
  color: #f2f4f9;
  padding: 10px 15px;
  font-family:'Prompt';
  border-radius: 50px;
  transition-property: background-color;
  transition-duration: .3s;
 border: 1px solid transparent;
  top: 500px;
  left: 800px;
  text-align: center;
  justify-content: center;
} 



.button2 {
  background-color: #387454;
  color: #F2F4F9;
  padding: 10px 15px;
  font-family:'Quicksand';
  border: none;
  border-radius: 4px;
  cursor: pointer;
  top: 300px;
left: 200px;
font-family:'Prompt';
border-radius: 50px;
transition-property: background-color;
transition-duration: .3s;
border: 1px solid transparent;
padding:auto;
}






  a {
    text-decoration: none;
color:inherit;
  }



 button a:visited{
color:#f2f4f9;
 }


  button:hover{
    color: #f2f4f9;
    background-color: #6FBD57;
    border:transparent
}

  