@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Prompt&family=Quicksand:wght@400;700&family=Yusei+Magic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  background: linear-gradient(#d66f1b, #f2f4f9);
  margin: 0; /* Ensure no default margin */
  padding: 0; /* Ensure no default padding */
}

h3{   
  margin-left: 10px;
  font-size: 26px;
  
  color: #387454;

}
 
/*body {
  display: flex;
  flex-direction: column;
  font-family: "Prompt";
  background: linear-gradient(#d66f1b 0%, #F2F4F9 100%); 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}*/

main {
  flex: 1;
}




header {
  background-color: #f2f4f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height:120px;
  width:100%;
}




 h1 {
  text-align: center;
  margin-top: 35px;
  font-size: 36px;
  top: 100px;
  color: #387454;
}



.features {
  display: flex;
  justify-content: space-around;
  /*space-between;*/
  margin-top: 80px;
  margin-bottom: 120px;
  
}

.features a { 
  color: #387454;
  text-decoration: none;

}

.feature {
  text-align: center;
  flex-basis: calc(20.33% - 20px); /*33.33*/
  padding: 20px;
  background-color: #f2f4f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #387454;
}

.feature p {
  color: #387454;
}

/* post request*/

.form-container {
    max-width: 400px;
    margin-top: 100px;
    margin-left: 5%;
    padding: 20px;
    background-color: #f2f4f9;
    border-radius: 5px;
    padding: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      width: 100%;
    
  }


  h1{
    color: #387454;;
  }
  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #387454;;
  }
  

  input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    color: #387454;;
  }


  input[type="datetime-local"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #387454;;
  }

  
  input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    background-color: #387454;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #6FBD57;
  }

  
  
  
  button{
    height: 40px;
    width: 150px;
    margin: 4px;
    cursor: pointer;
    line-height: 1;
    border-radius: 50px;
    transition-property: background-color;
    transition-duration: .3s;
   border: 1px solid transparent;
    letter-spacing: 2px;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    background-color: #387454;
    font-family: "Prompt";  
    font-weight:600;
    color: #6FBD57;

  }
  
  
  form {
    background-color: #f2f4f9;
    padding: 50px;
  margin-top: 150px;
  margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  button:hover{
      color: #f2f4f9;
      background-color: #6FBD57;
      border:transparent
  }
  
  
  .edit{
    position: absolute;
    top: 90px;
    left: 1040px;
  }
  





