@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#d66f1b, #f2f4f9);
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
  }

.error-message {
    color: red;
    font-size: 12px;
    margin-left: 5px; /* Adjust as needed */
}

h1 {
    color: black;
    font-family: 'Quicksand';
    font-size: xx-large;
    text-align: center;


}


form {
  background-color: #f2f4f9;
  padding: 20px;
margin-top: 150px;
margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}


.yourAccount{
    position: relative;
    top: -5%;
}


form label {
    display: block;
    margin-bottom: 8px;
}
/* 
input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */


input, select, textarea {
    width: calc(100% - 16px); /* Adjusting width to account for padding */
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.gender input{
    display: inline-block;
}

button {
    height: 40px;
    width: 100%;
    margin: 4px 0;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #387454;
    color: #f2f4f9;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  button:hover {
    background-color: #6FBD57;
  }
  
.delete{
    font-size: 12px;
    background-color:#ea6a40;
}
.edit-btn {
    background-color: #d66f1b;
    color: white;
    text-align: center;
    line-height: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 2px;
    display: inline-block;
    font-size: 14px;
    margin-left: 150px;
}


#profile-image{
    align-items: center;
    justify-content: center;
    /* position: relative; */
   /* top: 90%; */
    width: 100px;
    height: 100px;
    z-index: 1;
    border: 2px solid ; /* Border color */
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 180px;
}



.file-upload-container{
    position: relative;
    display: inline-block;
}
.file-upload-input{
    width: 0.1px;
    height:0.1px;
    opacity: 0;
    overflow: hidden;
    position:absolute;
    z-index: -1;
}


.edit-btn:hover{
    background-color: #ccc;
}

